@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    
}
body {
   
    
    /* background: linear-gradient(-90deg, rgb(216, 216, 216) 0%, rgb(190, 190, 190) 100%); */
    background-color: rgb(223, 223, 223);
    
}

.logo {
    width: 100%;
}
.logo-container {
    width: 100%;
}
a{
    text-decoration: none;
}
.layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

 a{
    font-size: 22px;
    color: rgb(207, 207, 207);
    
    padding: 10px;
    border-radius: 10px;
    
}

.header-container {
    display: flex;
    flex-flow: column  ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #cccccc;
    border-bottom: solid transparent;
    border-bottom-left-radius:14px ;
    border-bottom-right-radius:14px ;
}

.wrapper-container {
    display: flex;
    flex-wrap: nowrap;
    width: 75%;
    overflow: scroll;
    
}


.links-container {
    display:flex;
    justify-content: center;
    width: 80%;
    justify-content: space-around;
    
    
}




.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%; 
    background: rgb(54, 54, 54);
    border-right: 6px solid rgb(128, 13, 67);
    border-radius: 9px;
}
.user-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(165, 22, 94, 0.8);
    padding-bottom: 15px ;
    border-bottom: 3px solid rgba(179, 179, 179, 0.8);
    width: 90%;
}
.user-temp div{
    color: rgba(61, 61, 61,0.9);
    font-size: large;
    font-style: italic;
}
.second-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    margin-top:35px ;
    font-family: 'Poppins', sans-serif;
}
.second-header h1{
    color: rgb(235, 235, 235);
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    
}

.cards{
    
    width: 320px;
    min-width: 320px;
    min-height: 460px;
    border: 3px solid hidden;
    border-radius: 22px;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 27px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 7px 5px  rgba(0,0,0,0.7);
}
.card-head{
    display: flex;
    align-items: top;
    justify-content:center;
   
}
.x {
    margin-top:20px ;
    margin-left:7px ;
    font-size: 20px;
}
.x-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: rgb(197, 197, 197);
    width: 44px;
    margin-top: 2px;
    height: 44px;
    margin-left:30px;
    
}
.dayClear {
    background-image: url('./img/mountian-day-clear.jpg');
    background-size: contain;
}
.dayRainy {
    background-image: url('./img/mountian-day-rainy.jpg');
    background-size: contain;
}
.daySnowy {
    background-image: url('./img/mountian-day-snowy.jpg');
    background-size: contain;
}
.dayMisty {
    background-image: url('./img/mountian-day-misty.jpg');
    background-size: contain;
}
.dayCloudy {
    background-image: url('./img/mountian-day-cloudy.jpg');
    background-size: contain;
}
.nightClear {
    background-image: url('./img/mountian-night-clear.jpg');
    background-size: contain;
}
.nightCloudy {
    background-image: url('./img/mountian-night-cloudy.jpg');
    background-size: contain;
}
.nightRainy {
    background-image: url('./img/mountian-night-rainy.jpg');
    background-size: contain;
}
.nightSnowy {
    background-image: url('./img/mountian-night-snowy.jpg');
    background-size: contain;
}
.nightMisty {
    background-image: url('./img/mountian-night-misty.jpg');
    background-size: contain;
}

.temp-nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s ;
    outline: none;
}
.temp-nav-btn:hover {
    box-shadow: 2px 2px 2px rgb(219, 219, 219);
}

.animate-data1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 1s;
}
.fotter-nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 1s;
}

.info-data {
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 0px;
    overflow: hidden;
    justify-content: space-around;
    transition: 0.5s;
}
.info-data2 {
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 0px;
    overflow: hidden;
    justify-content: space-around;
    transition: 0.5s;
}
.weather-data {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 110px;
    width: 308px;
    overflow: hidden;
    justify-content: space-around;
    transition: 1s;
}
.animate-data1 .weather-data {
    width: 0px;
}
.animate-data1 .info-data{
    width: 308px;
}
.animate-data2 .weather-data {
    width: 0px;
}
.animate-data2 .info-data2{
    width: 308px;
}


.temp {
    font-size: 50px;
    color: rgba(231, 231, 231,0.8);
    text-shadow: 2px 2px 2px rgb(43, 43, 43);
    
}

.weather-status{
    margin-top: 40px;
}
.weather-status h3{
    color: rgba(231, 231, 231,0.6);
    text-shadow: 2px 2px 5px rgba(43, 43, 43,0.5);
}
.card-fotter{
    width: 310px;
    color: rgb(226, 226, 226);
}

.card-nav {
    display: flex;
    justify-content: space-between;
}
.line{
    display: block;
    width: 290px;
    height: 2px;
    margin: auto;
    outline: 1px solid transparent;
    border-radius: 18px;
    background-color: rgba(165, 165, 165,0.4);
}

.card-fotter h3{
    margin-left: 10px;
}

.card-body {
   display: flex;

  
    
}
.temp-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-left: 30px;

}

.location-a{
    display: flex;
    width: 85px;
    font-size: 19px;
    color: rgba(240, 240, 240,0.8);
    text-shadow: 2px 2px 2px rgba(61, 61, 61,0.8);
}
.location{
    
    padding-left: 5px;
    border-left: 3px solid rgba(185, 185, 185, 0.6);;
}



.data-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

.data-column p{
    font-size: 14px;
}

.info-data p{
    font-size: 14px;
}

.info-data2 {
    display: flex;
    align-items: center;
}
.info-data2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-data2 p{
    font-size: 13px;
}
.day-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
    
}


label {
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 20px;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    width: 90%;
    box-shadow: 0px 0px 15px rgb(48, 48, 48);
    margin-bottom: 50px;
    
    
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background-color: rgb(128, 13, 67);
    border-radius: 50px;
    transition: 0.6s linear;
}
input:focus{
    outline: none;
}
.form:hover .input{
    width: 90%;
}
.form:hover .input-bar{
    width: 80%;
    height: 60%;
}

.input-bar {
    height: 0%;
    width: 0%;
    background-color: transparent;
    border: none;
    font-size: 19px;
    color: rgb(204, 204, 204);
    
}
.input-bar::placeholder {
    color: rgb(204, 204, 204);
    
  }
.submit-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px){
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .main-header {
        height: 400px;
        width: 97%;
        border-left: 6px solid rgb(128, 13, 67);
        border-radius: 9px;

    }
    
    .wrapper-container {
        overflow:visible;   
    }
    .form {
        height: 35%;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-bottom: 5px;
    }
    .form p {
        display: none;
    }
    .form label {
        display: none;
    }
    
}